doctype html
html(class="no-js", lang="en")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/genre/genre.pug
    include ../components/news/news.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body
        |%=symbols=%
        .body-wrapper
            +header()
            main
                .promo-image
                    h1.promo-image__title High Quality Internet Music Stations
                    img.promo-image__img(src='__static__/img/content/promo.jpg' width='1400px' height='588px' alt='promo')
                section.player
                    h1.player__title.visually-hidden PLAYER
                    button.player__button.player__button_play(type='button' aria-label='play song')
                        img.player__image.player__image_play(src='__static__/img/general/play.png' width='14px' height='25px' alt='play')
                    .player__slider.slider
                        p.slider__song The Diary of Jane - Breaking Benjamin
                        p.slider__time 3:20
                        .slider__range
                            button.slider__button(type='button' aria-label='song')
                    button.player__button.player__button_vol(type='button' aria-label='volume')
                        img.player__image.player__image_vol(src='__static__/img/general/volume.png' width='22px' height='18px' alt='volume')
                    button.player__button.player__button_prev(type='button' aria-label='previous song')
                        img.player__image.player__image_prev(src='__static__/img/general/prev.png' width='12px' height='17px' alt='previous')
                    button.player__button.player__button_next(type='button' aria-label='next song')
                        img.player__image.player__image_next(src='__static__/img/general/next.png' width='12px' height='17px' alt='next')
                    button.player__button.player__button_loop(type='button' aria-label='loop song')
                        img.player__image.player__image_loop(src='__static__/img/general/loop.png' width='18px' height='20px' alt='loop')
                    button.player__button.player__button_qu(type='button' aria-label='queue')
                        img.player__image.player__image_qu(src='__static__/img/general/queue.png' width='16px' height='13px' alt='queue')
                    .player__playlist
                        table.player__table.table
                            tr.table__row
                                th.table__head
                                th.table__head Name
                                th.table__head Artist
                                th.table__head Album
                                th.table__head Time
                                th.table__head
                            tr.table__row
                                td.table__cell.table__cell_num 1
                                td.table__cell.table__cell_name It’s Been Awhile
                                td.table__cell.table__cell_art Staind
                                td.table__cell.table__cell_alb Break The Cycle
                                td.table__cell.table__cell_time 4:25
                                td.table__cell.table__cell_link
                                    a.table__link(href='#')
                            tr.table__row
                                td.table__cell.table__cell_num 2
                                td.table__cell.table__cell_name Bodies
                                td.table__cell.table__cell_art Drowning Pool
                                td.table__cell.table__cell_alb Sinner
                                td.table__cell.table__cell_time 3:22
                                td.table__cell.table__cell_link
                                    a.table__link(href='#')
                            tr.table__row
                                td.table__cell.table__cell_num 3
                                td.table__cell.table__cell_name Savior
                                td.table__cell.table__cell_art Rise Againts
                                td.table__cell.table__cell_alb Appeal To Reason
                                td.table__cell.table__cell_time 3:58
                                td.table__cell.table__cell_link
                                    a.table__link(href='#')
                            tr.table__row
                                td.table__cell.table__cell_num 4
                                td.table__cell.table__cell_name Through Glass
                                td.table__cell.table__cell_art Stone Sour
                                td.table__cell.table__cell_alb Come Whatever May
                                td.table__cell.table__cell_time 3:58
                                td.table__cell.table__cell_link
                                    a.table__link(href='#')
                            tr.table__row
                                td.table__cell.table__cell_num 5
                                td.table__cell.table__cell_name Through Glass
                                td.table__cell.table__cell_art Nickelback
                                td.table__cell.table__cell_alb All The Night Reason
                                td.table__cell.table__cell_time 3:58
                                td.table__cell.table__cell_link
                                    a.table__link(href='#')
                section.genres
                    h1.genres__title.title
                        a.genres__link.title__link(name='genres') Genres Stations
                    .genres-wrapper
                        +genre('top.png', 'Trending Top', 'top', '#')
                        +genre('rock.png', 'Rock', 'rock','#')
                        +genre('rnb.png', 'R n B', 'rnb','#')
                        +genre('alter.png', 'Alternative', 'alt','#')
                        +genre('country.png', 'Country', 'cntr','#')
                        +genre('pop.png', 'Pop', 'pop','#')
                        +genre('jazz.png', 'Jazz', 'jazz','#')
                        +genre('reggae.png', 'Reggae', 'rgg','#')
                    button.button.genres__button Load more
                section.events
                    h1.events__title.title
                        a.events__link.title__link(name='events') Upcoming Events
                    .events__schedule.schedule
                        .schedule__item
                            p.schedule__date Wednesday  / 22 Dec 2017 /  12:00 PM
                            h1.schedule__title Linkin Park
                            p.schedule__club Ziggo Dome
                            address.schedule__address De Passage 100, Amsterdam, Netherlands
                            .schedule__popup.popup
                                h2.popup__title Linkin Park
                                p.popup__tour One More Light World Tour
                                table.popup__table.popup-table
                                    tr.popup-table__row
                                        th.popup-table__head Address & Date
                                        th.popup-table__head.popup-table__head_pr Price
                                    tr.popup-table__row
                                        td.popup-table__cell.cell
                                            p.cell__p.cell__p_addr Mohegan Sun Arena Uncasville, CT
                                            p.cell__p.cell__p_date Wed , 22 Dec 2017 , 12:00 PM
                                        td.popup-table__cell.cell
                                            span.cell__p.cell__p_unit $
                                            span.cell__p.cell__p_summ 100
                                p.popup__time-title Time Remaining
                                .popup__time
                                    .popup__count.count
                                        p.count__num 04
                                        p.count__unit Days
                                    .popup__count.count
                                        p.count__num 07
                                        p.count__unit Hours
                                    .popup__count.count
                                        p.count__num 46
                                        p.count__unit Minutes
                                a.popup__link.button(href='#') Purchase Tickets
                                a.popup__share(href='#')
                                    span.visually-hidden Share
                        .schedule__item
                            p.schedule__date Wednesday  / 22 Dec 2017 /  12:00 PM
                            h1.schedule__title Burger kill
                            p.schedule__club Ziggo Dome
                            address.schedule__address De Passage 100, Amsterdam, Netherlands
                section.news
                    h1.news__title.title
                        a.news__link.title__link(name='news') Latest News
                    .news__wrapper
                        +news(
                        '21 MARCH 2017',
                        'Donec ac pellentesque justo, quis rutrum tortor',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat eget eros eget bibendum. Suspendisse finibus ultricies dapibus. Nam sed imperdiet diam',
                        '#'
                        )
                        +news(
                        '21 MARCH 2017',
                        'Donec ac pellentesque justo, quis rutrum tortor',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat eget eros eget bibendum. Suspendisse finibus ultricies dapibus. Nam sed imperdiet diam',
                        '#'
                        )
                        +news(
                        '21 MARCH 2017',
                        'Donec ac pellentesque justo, quis rutrum tortor',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat eget eros eget bibendum. Suspendisse finibus ultricies dapibus. Nam sed imperdiet diam',
                        '#'
                        )
                section.contacts
                    h1.contacts__title.title
                        a.contacts__link.title__link(name='contacts') Contact Us
                    .contacts__subscribe.subscribe
                        h1.subscribe__title Join Our Community
                        p.subscribe__tip Be among the first to hear about our new tracks, events, news and so much more!
                        form.subscribe__form(action='https://echo.htmlacademy.ru' method='get')
                                label.visually-hidden(for='subscribe__field') Your email address
                                input.subscribe__field(type='text' name='email' id='subscribe__field' placeholder='Your email address')
                                button.subscribe__button(type='submit') Subscribes
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
