.genre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 218px;
    height: 178px;
    margin-right: 20px;
    margin-bottom: 23px;

    text-decoration: none;

    border: 1px solid @border-color;
    border-radius: 3px;
}

.genre:hover,
.genre:focus {
    outline: none;
    border-color: @red;
}

.genre:hover .genre__title,
.genre:focus .genre__title {
    color: @red;
}

.genre:nth-child(4n) {
    margin-right: 0;
}

.genre__img {
    margin-top: 34px;

    text-align: center;
}

.genre__img_rock {
    margin-top: 42px;
    margin-right: 8px;
}

.genre__img_rnb {
    margin-top: 37px;
}

.genre__img_alt {
    margin-top: 40px;
    margin-right: 6px;
}

.genre__img_cntr {
    margin-top: 43px;
    margin-right: 8px;
}

.genre__img_pop {
    margin-top: 38px;
    margin-right: 13px;
}

.genre__img_jazz {
    margin-top: 38px;
}

.genre__img_rgg {
    margin-top: 41px;
    margin-right: 2px;
}

.genre__title {
    .pd-0();
    margin-bottom: 17px;

    text-align: center;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 700;
    color: @grey;
}
