.genre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 218px;
    height: 178px;
    margin-right: 20px;
    margin-bottom: 23px;

    text-align: center;
    text-decoration: none;

    border: 1px solid @border-color;
    border-radius: 3px;

    @media screen and (max-width: 1023px) {
        margin-right: 14px;
    }

    @media screen and (max-width: 767px) {
        margin-right: 30px;
    }

}

.genre:nth-child(3n) {
    @media screen and (max-width: 1023px) {
        margin-right: 0;
    }

    @media screen and (max-width: 767px) {
        margin-right: 30px;
    }
}

.genre:nth-child(4n) {
    margin-right: 0;

    @media screen and (max-width: 1023px) {
        margin-right: 14px;
    }
}

.genre:nth-child(2n) {
    @media screen and (max-width: 767px) {
        margin-right: 0;
    }
}

.genre:hover,
.genre:focus {
    outline: none;
    border-color: @red;
}

.genre:hover .genre__title,
.genre:focus .genre__title {
    color: @red;
}

.genre_top {
    background-image: url('__static__general/top.png');
    background-repeat: no-repeat;
    background-position: center 34px;
}

.genre_top:hover,
.genre_top:focus {
    background-image: url('__static__general/top-hover.png');
}

.genre_rock {
    background-image: url('__static__general/rock.png');
    background-repeat: no-repeat;
    background-position: center 34px;
}

.genre_rock:hover,
.genre_rock:focus {
    background-image: url('__static__general/rock-hover.png');
}

.genre_rnb {
    background-image: url('__static__general/rnb.png');
    background-repeat: no-repeat;
    background-position: center 34px;
}

.genre_rnb:hover,
.genre_rnb:focus {
    background-image: url('__static__general/rnb-hover.png');
}

.genre_alt {
    background-image: url('__static__general/alter.png');
    background-repeat: no-repeat;
    background-position: center 34px;
}

.genre_alt:hover,
.genre_alt:focus {
    background-image: url('__static__general/alter-hover.png');
}

.genre_cntr {
    background-image: url('__static__general/country.png');
    background-repeat: no-repeat;
    background-position: center 34px;
}

.genre_cntr:hover,
.genre_cntr:focus {
    background-image: url('__static__general/country-hover.png');
}

.genre_pop {
    background-image: url('__static__general/pop.png');
    background-repeat: no-repeat;
    background-position: center 34px;
}

.genre_pop:hover,
.genre_pop:focus {
    background-image: url('__static__general/pop-hover.png');
}

.genre_jazz {
    background-image: url('__static__general/jazz.png');
    background-repeat: no-repeat;
    background-position: center 34px;
}

.genre_jazz:hover,
.genre_jazz:focus {
    background-image: url('__static__general/jazz-hover.png');
}

.genre_rgg {
    background-image: url('__static__general/reggae.png');
    background-repeat: no-repeat;
    background-position: center 34px;
}

.genre_rgg:hover,
.genre_rgg:focus {
    background-image: url('__static__general/reggae-hover.png');
}

.genre__title {
    .pd-0();
    margin-top: 140px;
    margin-bottom: 17px;

    text-align: center;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 700;
    color: @grey;
}
