mixin footer(data)
    footer.footer
        p.footer__copyright Copyright © 2017 soulvibes.  All rights reserved
        ul.footer__social-list.social-list
            li.social-list__item
                a.social-list__link.social-list__link_fb(href='#')
                    span.visually-hidden facebook
            li.social-list__item
                a.social-list__link.social-list__link_tw(href='#')
                    span.visually-hidden twitter
            li.social-list__item
                a.social-list__link.social-list__link_ins(href='#')
                    span.visually-hidden instagramm
            li.social-list__item
                a.social-list__link.social-list__link_pt(href='#')
                    span.visually-hidden pinterest
            li.social-list__item
                a.social-list__link.social-list__link_yt(href='#')
                    span.visually-hidden youtube
