.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 99px;
    .pd-page();

    background-color: @white;

    @media screen and (max-width: 1280px) {
        .pd-page1280();
    }

    @media screen and (max-width: 1024px) {
        .pd-page1024();
    }

    @media screen and (max-width: 768px) {
        .pd-page768();
    }

    @media screen and (max-width: 560px) {
        .pd-page560();
    }
}

.footer__copyright {
    flex-shrink: 0;

    .pd-0();
    margin-top: 5px;

    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 1px;

    @media screen and (max-width: 560px) {
        width: 220px;
    }
}

.footer__social-list {
    margin-left: auto;
}

.social-list {
    display: flex;
    align-items: center;

    .nl();
    margin-top: 8px;
}

.social-list__link {
    display: block;

    width: 25px;
    margin-left: 35px;
    min-height: 28px;

    font-size: 0;

    cursor: pointer;

    @media screen and (max-width: 560px) {
        margin-left: 25px;
    }
}

.social-list__item {
    margin-right: 20px;

    @media screen and (max-width: 768px) {
        margin-right: 5px;
    }

}

.social-list__item:nth-last-child {
    margin-right: 0;
}

.social-list__link_fb {
    background-image: url("__static__general/facebook.png");
    background-repeat: no-repeat;
    background-position: top right 4px;
}
.social-list__link_fb:hover,
.social-list__link_fb:focus {
    background-image: url("__static__general/facebook-hover.png");
}

.social-list__link_tw {
    width: 26px;
    margin-right: -1px;

    background-image: url("__static__general/twitter.png");
    background-repeat: no-repeat;
    background-position:  top 5px right;
}

.social-list__link_tw:hover,
.social-list__link_tw:focus {
    background-image: url("__static__general/twitter-hov.png");
}

.social-list__link_ins {
    width: 26px;
    margin-right: -1px;

    background-image: url("__static__general/instagram.png");
    background-repeat: no-repeat;
    background-position:  top 1px right;
}

.social-list__link_ins:hover,
.social-list__link_ins:focus {
    background-image: url("__static__general/instagram-hover.png");
}

.social-list__link_pt {
    background-image: url("__static__general/pinterest.png");
    background-repeat: no-repeat;
    background-position:  top 0px right;
}

.social-list__link_pt:hover,
.social-list__link_pt:focus {
    background-image: url("__static__general/pinterest-hover.png");
}

.social-list__link_yt {
    background-image: url("__static__general/youtube.png");
    background-repeat: no-repeat;
    background-position:  center right;
}

.social-list__link_yt:hover,
.social-list__link_yt:focus {
    background-image: url("__static__general/youtube-hov.png");
}
