mixin footer(data)
    footer.container
        .copyright Copyright © 2017 soulvibes.  All rights reserved
        ul.social-list
            li.social-list__item
                a.social-list__link.social-list__link_fb(href='#')
                    span.visually-hidden facebook
            li.social-list__item
                a.social-list__link.social-list__link_tw(href='#')
                    span.visually-hidden twitter
            li.social-list__item
                a.social-list__link.social-list__link_ins(href='#')
                    span.visually-hidden instagramm
            li.social-list__item
                a.social-list__link.social-list__link_pr(href='#')
                    span.visually-hidden printerest
            li.social-list__item
                a.social-list__link.social-list__link_yt(href='#')
                    span.visually-hidden youtube
