.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 99px;
    .pd-page();

    background-color: @white;
}

.footer__copyright {
    .pd-0();
    margin-top: 5px;

    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.footer__social-list {
    margin-left: auto;
}

.social-list {
    display: flex;
    align-items: center;

    .nl();
    margin-top: 8px;
}

.social-list__link {
    display: block;

    width: 60px;
    min-height: 28px;

    font-size: 0;

    cursor: pointer;
}

.social-list__item {
    margin-right: 20px;
}

.social-list__item:nth-last-child {
    margin-right: 0;
}

.social-list__link_fb {
    background-image: url("__static__general/facebook.png");
    background-repeat: no-repeat;
    background-position: top right 4px;
}

.social-list__link_tw {
    width: 61px;
    margin-right: -1px;

    background-image: url("__static__general/twitter.png");
    background-repeat: no-repeat;
    background-position:  top 5px right;
}

.social-list__link_ins {
    width: 61px;
    margin-right: -1px;

    background-image: url("__static__general/instagram.png");
    background-repeat: no-repeat;
    background-position:  top 1px right;
}

.social-list__link_pt {
    background-image: url("__static__general/pinterest.png");
    background-repeat: no-repeat;
    background-position:  top 0px right;
}

.social-list__link_yt {
    background-image: url("__static__general/youtube.png");
    background-repeat: no-repeat;
    background-position:  center right;
}
