.news__button_small {
    position: relative;
    z-index: 2;

    display: inline-block;
    vertical-align: middle;
    //width: 100px;
    padding: 0px 10px;

    text-align: center;
    font-size: 12px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: @red;

    background-color: white;
    border: 1px solid @border-color;
    border-radius: 2px;
}
