.news__item {
    margin-right: 20px;
}

.news__item:nth-child(3n) {
    margin-right: 0;
}

.block {
    width: 260px;
    padding: 15px 19px 29px;

    background-color: @white;
    border: 1px solid @border-color;
    border-radius: 3px;
}

.block__date {
    position: relative;

    .pd-0();
    padding-left: 16px;

    font-size: 11px;
    line-height: 24px;
    font-weight: 700;
}

.block__date::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 1px;

    width: 8px;
    height: 8px;

    background-color: @border-color;
}

.block__title {
    .pd-0();
    margin-top: 20px;

    font-size: 18px;
    line-height: 1.2em;
    font-weight: 700;
}

.block__desc {
    .pd-0();
    margin-top: 38px;
    margin-bottom: 34px;

    font-size: 14px;
    line-height: 24px;
}
