include ../button/button.pug
mixin news(date, title, text, buttonHref)
    .news__item.block
        p.block__date= date
        h1.block__title= title
        p.block__desc= text
        +button(buttonHref)
