// Common styles of the project

html, body {
    //min-width: @width-page;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    color: @grey;
}

.body-wrapper {
    position: relative;
    overflow: hidden;

    width: @width-page;

    .container();

    @media screen and (max-width: 1280px) {
        width: @width-page1280;

        .container1280();
    }

    @media screen and (max-width: 1024px) {
        width: @width-page1024;

        .container1024();
    }

    @media screen and (max-width: 768px) {
        width: @width-page768;

        .container768();
    }

    @media screen and (max-width: 560px) {
        width: @width-page560;

        .container560();
    }

}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: block;

    text-decoration: none;

    cursor: pointer;
}

.container {
    .container();

    @media screen and (max-width: 1280px) {
        .container1280();
    }

    @media screen and (max-width: 1024px) {
        .container1024();
    }

    @media screen and (max-width: 768px) {
        .container768();
    }

    @media screen and (max-width: 560px) {
        .container560();
    }
}

.promo-image {
    position: relative;
    overflow: hidden;

    height: 549px;
}

.promo-image__title {
    position: absolute;
    top: 127px;
    z-index: 2;

    width: 560px;
    .pd-page();
    margin-left: -2px;

    font-family: 'Lora', Times, serif;
    font-size: 72px;
    line-height: 1.2em;
    font-weight: 700;
    color: @white;

    @media screen and (max-width: 1280px) {
        .pd-page1280();
    }

    @media screen and (max-width: 1024px) {
        .pd-page1024();
    }

    @media screen and (max-width: 768px) {
        .pd-page768();
    }

    @media screen and (max-width: 560px) {
        .pd-page560();
    }
}

img.promo-image__img {
    position: relative;
    display: block;

    min-width: 1400px;
    .pd-0();

    @media screen and (max-width: 1280px) {
        left: calc(-(@paddings - @paddings1280));
    }

    @media screen and (max-width: 1024px) {
        left: calc(-(@paddings - @paddings1024));
    }

    @media screen and (max-width: 768px) {
        left: calc(-(@paddings - @paddings768));
    }

    @media screen and (max-width: 560px) {
        left: calc(-(@paddings - @paddings560));
    }
}

.player {
    position: relative;
    display: flex;
    align-items: center;

    height: 80px;
    .pd-page();

    background-color: @back-red;

    color: @white;

    @media screen and (max-width: 1280px) {
        .pd-page1280();
    }

    @media screen and (max-width: 1024px) {
        .pd-page1024();
    }

    @media screen and (max-width: 768px) {
        .pd-page768();
    }

    @media screen and (max-width: 560px) {
        .pd-page560();
    }
}

.player__button {
    display: block;

    width: 40px;
    height: 40px;
    .pd-0();
    margin-right: 20px;

    border: none;
    border: 2px solid @white;
    border-radius: 50%;
    background-color: transparent;

    @media screen and (max-width: 768px) {
        margin-right: 9px;
    }

    @media screen and (max-width: 560px) {
        width: 33px;
        height: 33px;
        margin-right: 7px;
    }
}

.player__button:hover,
.player__button:focus {
    background-color: white;
}

.player__button:hover .player__image,
.player__button:focus .player__image {
    filter: invert(100%);
}

.player__button:active {
    width: 43px;
    height: 43px;
    margin-right: 18px;
    margin-left: -1px;

    @media screen and (max-width: 768px) {
        margin-right: 8px;
        margin-left: -2px;
    }

    @media screen and (max-width: 560px) {
        width: 36px;
        height: 36px;
        margin-right: 5px;
        margin-left: -1px;
    }
}

.player__button:nth-last-of-type(1) {
    margin-right: 0;
}

.player__button:nth-last-of-type(1):active {
    margin-right: -2px;
    margin-left: -1px;

    @media screen and (max-width: 768px) {
        margin-left: -2px;
    }

    @media screen and (max-width: 560px) {
        margin-left: -1px;
    }
}

.player__button_play {
    width: 58px;
    height: 58px;
    margin-right: 24px;

    @media screen and (max-width: 768px) {
        margin-right: 13px;
    }

    @media screen and (max-width: 560px) {
        width: 50px;
        height: 50px;
        margin-right: 7px;
    }
}

.player__button_play .player__image_pause {
    display: none;
}

.player__button_play:active {
    width: 61px;
    height: 61px;
    margin-right: 22px;

    @media screen and (max-width: 768px) {
        margin-right: 11px;
        margin-left: -1px;
    }

    @media screen and (max-width: 560px) {
        width: 53px;
        height: 53px;
        margin-right: 5px;
        margin-left: -1px;
    }
}

.player__image {
    display: block;

    margin: auto auto;
}

.player__image_play {
    margin-left: 23px;

    @media screen and (max-width: 560px) {
        margin-left: 19px;
    }
}

.player__image_pause {
    margin-left: 21px;

    @media screen and (max-width: 560px) {
        margin-left: 17px;
    }
}

.player__button_play:active .player__image_play {
    margin-left: 24px;

    @media screen and (max-width: 560px) {
        margin-left: 20px;
    }
}

.player__button_pause:active .player__image_pause {
    margin-left: 22px;

    @media screen and (max-width: 560px) {
        margin-left: 18px;
    }
}

.player__button_pause .player__image_play {
    display: none;
}

.player__button_pause .player__image_pause {
    display: block;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 560px;
    height: 45px;
    margin-right: 18px;

    @media screen and (max-width: 768px) {
        width: 360px;
    }

    @media screen and (max-width: 560px) {
        width: 260px;
        margin-right: 7px;
    }
}

.slider__song {
    max-width: 500px;
    height: 25.5px;
    .pd-0();
    margin-left: -2px;

    font-size: 14px;
    line-height: 1.2em;

    @media screen and (max-width: 560px) {
        width: 210px;

        font-size: 13px;
    }
}

.slider__time {
    .pd-0();
    margin-left: auto;
    margin-right: 6px;

    vertical-align: top;
    font-size: 12px;
    line-height: 1.2em;

    @media screen and (max-width: 560px) {
        font-size: 11px;
    }
}

.slider__range {
    position: relative;
    align-self: flex-end;

    width: 100%;
    height: 7px;
    margin-bottom: 3px;

    background-color: black;
    border-radius: 10px;
}

.slider__range::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 74px;
    height: 100%;

    background-color: #72040d;
    border-radius: 10px;
}

.slider__button {
    position: absolute;
    top: calc(-(16px - 5px)/2);
    left: calc(67px - (16px / 2));

    width: 16px;
    height: 16px;
    .pd-0();

    border: none;
    border-radius: 50%;
    background-color: white;
}

.slider__button:hover,
.slider__button:focus {
    top: calc(-(16px - 5px)/2 - 1px);
    left: calc(67px - (16px / 2) - 1px);

    width: 18px;
    height: 18px;
}

.player__playlist {
    display: none;
    position: absolute;
    z-index: 4;
    right: @paddings;
    top: 84px;

    width: @width-content;

    color: @grey;

    background-color: @white;
    border-top: 1px solid @border-color;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.17);

    @media screen and (max-width: 1280px) {
        right: @paddings1280;
    }

    @media screen and (max-width: 1024px) {
        right: @paddings1024;
    }

    @media screen and (max-width: 768px) {
        right: @paddings768;
        width: @width-content768;
    }

    @media screen and (max-width: 560px) {
        right: @paddings560;
        width: @width-content560;
    }
}

.display-block {
    display: block;
}

.player__playlist::after {
    position: absolute;
    z-index: 5;
    content: "";
    top: -15px;
    right: 6px;

    width: 28px;
    height: 21px;

    background-image: url("__static__general/playlist.png");
    background-repeat: no-repeat;
    background-position: center;
}

.player__table {
    width: 900px;
    margin: 8px 20px 7px;
    padding-top: 8px;

    vertical-align: top;

    border-collapse: collapse;
    border: none;

    @media screen and (max-width: 768px) {
        width: 640px;
    }

    @media screen and (max-width: 560px) {
        width: 500px;
        margin: 8px 10px 7px;
    }
}

.table__row {
    height: 37px;

    border-bottom: 1px solid @border-color;
}

.table__row:first-child,
.table__row:last-child {
    border: none;
}

.table__cell_num{
    width: 40px;

    @media screen and (max-width: 768px) {
        width: 30px;
    }
}

.table__cell_name,
.table__cell_art,
.table__cell_alb {
    width: 220px;

    @media screen and (max-width: 768px) {
        width: 130px;
    }
}

.table__cell_alb {
    @media screen and (max-width: 768px) {
        width: 140px;
    }
}

.table__cell_time {
    width: 60px;

    @media screen and (max-width: 768px) {
        width: 20px;
    }
}

.table__cell_link {
    width: 40px;

    @media screen and (max-width: 768px) {
        padding-left: 0px;
        width: 15px;
    }
}

.table__head {
    padding-left: 20px;

    text-align: left;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 700;

    @media screen and (max-width: 560px) {
        padding-left: 10px;
    }
}

.table__cell {
    padding-left: 20px;

    font-size: 14px;
    line-height: 1.2em;

    @media screen and (max-width: 560px) {
        padding-left: 10px;
    }
}

.table__cell_num {
    padding-left: 0;

    text-align: center;
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 700;

    @media screen and (max-width: 560px) {
        font-size: 18px;
    }
}

.table__cell_link {
    text-align: right;
}

.table__cell_name,
.table__cell_art,
.table__cell_alb,
.table__cell_time {

}

.table__link {
    display: block;

    width: 20px;
    height: 20px;
    margin-left: auto;

    background-image: url("__static__general/download.png");
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

.table__link:hover,
.table__link:focus {
    background-image: url("__static__general/download-hover.png");
}

.genres-wrapper {
    width: 100%;
}

.title {
    position: relative;
    z-index: 2;

    .pd-0();
    margin-top: 52px;
    margin-bottom: 52px;
    margin-left: -2px;
}

.title::before {
    position: absolute;
    content: "";
    left: -230px;
    top: 14px;

    width: 210px;
    height: 12px;

    background-image: url("__static__general/rectangle.png");
    background-repeat: no-repeat;
    background-position: center;

}

.events__title::before,
.contacts__title::before {
    left: 0;

    @media screen and (max-width: 1280px) {
        left: calc(-(@paddings - @paddings1280));
    }

    @media screen and (max-width: 1024px) {
        left: calc(-(@paddings - @paddings1024));
    }

    @media screen and (max-width: 768px) {
        left: calc(-(@paddings - @paddings768));
    }

    @media screen and (max-width: 560px) {
        left: calc(-(@paddings - @paddings560));
    }
}


.title__link {
    .pd-0();

    font-size: 36px;
    line-height: 1.2em;
    font-weight: 700;
    text-decoration: none;
}

.genres {
    display: flex;
    flex-direction: column;

    .pd-page();
    margin-bottom: 35px;

    @media screen and (max-width: 1280px) {
        .pd-page1280();
    }

    @media screen and (max-width: 1024px) {
        .pd-page1024();
    }

    @media screen and (max-width: 768px) {
        .pd-page768();
    }

    @media screen and (max-width: 560px) {
        .pd-page560();
    }

}

.genres-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 13px;
}

.genres__button {
    padding: 13px 103px;
    padding-bottom: 11px;
    margin: 0 auto;

    text-align: center;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: @red;

    background-color: white;
    border: none;
    border: 1px solid @border-color;
    border-radius: 2px;
}

.button:hover,
.button:focus {
    color: white;

    background-color: @red;
}

.button:active {
    background-color: darken(@red, 20%);
}

.events {
    overflow: hidden;
}

.events__title {
    .pd-page();
    margin-bottom: 55px;

    @media screen and (max-width: 1280px) {
        .pd-page1280();
    }

    @media screen and (max-width: 1024px) {
        .pd-page1024();
    }

    @media screen and (max-width: 768px) {
        .pd-page768();
    }

    @media screen and (max-width: 560px) {
        .pd-page560();
    }
}

.schedule {
    position: relative;

    height: 485px;

    background-color: @back-red;
    background-image: url("%=static=%content/background-events.jpg");
    background-repeat: no-repeat;
    background-position: top left;
}

.schedule::after {
    content: "";
    position: absolute;
    top: -97px;
    right: 0;
    z-index: 1;

    width: 544px;
    height: 604px;
    margin: 0 calc(@paddings - 22px);

    background-image: url("%=static=%content/people.png");
    background-repeat: no-repeat;
    background-position: top right;

    @media screen and (max-width: 1280px) {
        margin: 0 calc(@paddings1280 - 22px);
    }

    @media screen and (max-width: 1024px) {
        margin: 0 calc(@paddings1024 - 22px);
    }

    @media screen and (max-width: 768px) {
        margin: 0 calc(@paddings768 - 22px);
    }

    @media screen and (max-width: 560px) {
        background-image: none;
    }
}

.schedule__item {
    position: relative;
    z-index: 2;

    width: 400px;
    margin-left: @paddings;
    padding-right: 0;
    padding-top: 66px;

    color: white;

    cursor: pointer;

    @media screen and (max-width: 1280px) {
        margin-left: @paddings1280;
    }

    @media screen and (max-width: 1024px) {
        margin-left: @paddings1024;
    }

    @media screen and (max-width: 768px) {
        margin-left: @paddings768;
    }

    @media screen and (max-width: 560px) {
        width: 270px;
        margin-left: @paddings560;
    }
}

.schedule__item:last-child {
    padding-top: 63px;

    @media screen and (max-width: 560px) {
        padding-top: 36px;
    }
}

.schedule__item::before {
    position: absolute;
    content: "";
    top: 33px;
    left: 9px;

    width: 2px;
    height: 100%;

    background-color: white;
}

.schedule__date {
    position: relative;

    .pd-0();
    margin-left: 43px;

    font-size: 14px;
    line-height: 1.2em;

    @media screen and (max-width: 560px) {
        margin-left: 23px;

        font-size: 12px;
    }
}

.schedule__date::before {
    position: absolute;
    content: "";
    top: 0;
    left: -39px;

    width: 12px;
    height: 12px;

    background-color: white;
    border-radius: 50%;

    @media screen and (max-width: 560px) {
        left: -19px;
    }
}

.schedule__title {
    .pd-0();
    margin-top: 15px;
    margin-left: 45px;

    font-size: 48px;
    line-height: 1.2em;
    font-weight: 700;

    @media screen and (max-width: 560px) {
        margin-left: 25px;

        font-size: 40px;
    }
}

.schedule__club {
    .pd-0();
    margin-top: 10px;
    margin-left: 50px;

    font-size: 14px;
    line-height: 24px;

    @media screen and (max-width: 560px) {
        margin-left: 30px;

        font-size: 12px;
    }
}

.schedule__address {
    .pd-0();
    margin-left: 50px;

    font-size: 14px;
    line-height: 24px;
    font-style: normal;

    @media screen and (max-width: 560px) {
        margin-left: 30px;

        font-size: 12px;
    }
}

.schedule__popup {
    display: flex;
    display: none;
    flex-direction: column;

    position: absolute;
    z-index: 5;
    top: 33px;
    left: calc(400px + @paddings);

    width: 260px;
    padding: 15px 20px 22px;

    color: @grey;

    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.45);
    border-radius: 3px;

    @media screen and (max-width: 1280px) {
        left: calc(400px + @paddings1280);
    }

    @media screen and (max-width: 1024px) {
        left: calc(400px + @paddings1024);
    }

    @media screen and (max-width: 768px) {
        left: calc(400px + @paddings768);
    }

    @media screen and (max-width: 560px) {
        width: 220px;
        padding: 15px;

        left: calc(280px + @paddings560);
    }
}

.display-flex {
    display: flex;
}

.popup__title {
    .pd-0();
    margin-top: -2px;
    margin-left: -2px;

    font-size: 36px;
    line-height: 1.2em;
    font-weight: 700;
}

.popup__tour {
    .pd-0();
    margin-bottom: 24px;

    font-size: 14px;
    line-height: 1.2em;
    font-weight: 700;
}

.popup__table {
    width: 260px;

    .pd-0();
    margin-bottom: 27px;

    border-collapse: collapse;
    border: none;

    @media screen and (max-width: 560px) {
        width: 220px;
        margin-bottom: 20px;
    }
}

.popup-table__row,
.popup-table__head,
.popup-table__cell {
    .pd-0();
    border: none;
}

.popup-table__cell {
    vertical-align: top;
}

.popup-table__head {
    margin-bottom: 10px;

    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.popup-table__head_pr {
    width: 61px;

    font-weight: 700;
}

.cell__p,
.count__num,
.count__unit {
    .pd-0();
}

.cell__p_addr {
    width: 140px;

    font-size: 12px;
    line-height: 18px;
}

.cell__p_date {
    margin-top: 3px;
    margin-left: -1px;

    font-size: 12px;
    line-height: 18px;

    @media screen and (max-width: 560px) {
        width: 115px;
    }
}

.cell__p_unit {
    font-size: 14px;
    line-height: 24px;
}

.cell__p_summ {
    display: inline-block;
    vertical-align: middle;

    margin-left: 10px;
    margin-top: 2px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.popup__time-title {
    .pd-0();
    margin-bottom: 6px;

    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
}

.popup__time {
    display: flex;
    justify-content: center;

    margin-bottom: 19px;
}

.popup__count {
    width: 69px;
    height: 49px;
    padding: 10px 0;
    margin-right: 20px;

    border-radius: 3px;
    border: 1px solid @grey;

    @media screen and (max-width: 560px) {
        width: 65px;
        height: 45px;
        margin-right: 10px;
    }
}

.popup__count:last-child {
    margin-right: 0;
}

.count__num {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.count__unit {
    margin-top: -3px;

    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

.popup__link {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;

    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;

    background-color: @red;
    border-radius: 3px;

    @media screen and (max-width: 560px) {
        margin-bottom: 10px;
    }
}

.popup__link:hover,
.popup__link:focus {
    width: calc(100% - 2px);
    padding-top: 6px;
    padding-bottom: 6px;

    color: @red;

    outline: none;
    background-color: white;
    border: 2px solid @red;
}

.popup__share {
    display: block;

    width: 20px;
    height: 18px;
    margin: 0 auto;

    background-image: url("__static__general/share.png");
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

.popup__share:hover,
.popup__share:focus {
    background-image: url("__static__general/share-hover.png");
}

.news {
    .pd-page();
    margin-bottom: 163px;

    @media screen and (max-width: 1280px) {
        .pd-page1280();
    }

    @media screen and (max-width: 1024px) {
        .pd-page1024();
    }

    @media screen and (max-width: 768px) {
        .pd-page768();
        margin-bottom: 70px;
    }

    @media screen and (max-width: 560px) {
        .pd-page560();
        margin-bottom: 70px;
    }
}

.news__title {
    margin-top: 55px;
    margin-bottom: 58px;
}

.news__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block_park:hover {
    background-image: url("__static__content/news-hover.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 768px) {
        background-position: -80px -10px;
    }

    @media screen and (max-width: 560px) {
        background-position: center;
    }

}

.contacts__title {
    .pd-page();
    margin-bottom: 51px;

    @media screen and (max-width: 1280px) {
        .pd-page1280();
    }
    @media screen and (max-width: 1024px) {
        .pd-page1024();
    }

    @media screen and (max-width: 768px) {
        .pd-page768();
    }

    @media screen and (max-width: 560px) {
        .pd-page560();
    }
}

.contacts__subscribe {
    .pd-page();

    @media screen and (max-width: 1280px) {
        .pd-page1280();
    }

    @media screen and (max-width: 1024px) {
        .pd-page1024();
    }

    @media screen and (max-width: 768px) {
        .pd-page768();
    }

    @media screen and (max-width: 560px) {
        .pd-page560();
    }
}

.subscribe {
    min-height: 223px;
    padding-top: 36px;
    padding-bottom: 60px;

    color: @white;

    background-color: @grey;
    background-image: url("__static__content/background-subscribe.jpg");
    background-repeat: no-repeat;

    @media screen and (max-width: 1280px) {
        background-position: calc(-(@paddings - @paddings1280));
    }

    @media screen and (max-width: 1024px) {
        background-position: calc(-(@paddings - @paddings1024));
    }

    @media screen and (max-width: 768px) {
        background-position: -300px;
    }

    @media screen and (max-width: 560px) {
        background-position: -400px;
    }
}

.subscribe__title {
    .pd-0();

    font-family: 'Lora', Times, serif;
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 700;

    @media screen and (max-width: 560px) {
        font-size: 50px;
    }
}

.subscribe__tip {
    width: 600px;
    .pd-0();
    margin-top: 17px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    @media screen and (max-width: 560px) {
        width: 400px;
    }
}

.subscribe__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 620px;
    .pd-0();
    margin-top: 29px;

    background-color: white;
    border-radius: 5px;

    @media screen and (max-width: 560px) {
        width: 500px;
    }
}

.subscribe__field {
    flex-grow: 1;

    height: 60px;
    .pd-0();
    padding: 0 21px;
    padding-right: 150px;

    font-size: 14px;
    line-height: 1.2em;
    color: @grey;

    border: none;
    border-radius: 5px;
}

.subscribe__field:focus {
    width: 612px;
    height: 56px;
    padding: 0 19px;
    padding-right: 150px;

    border: 2px solid rgba(181, 11, 30, 0.7);
    outline: none;
}

.subscribe__button {
    position: absolute;
    top: 5px;
    right: 6px;

    padding: 16px 14px;
    margin-left: auto;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: @back-red;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    border: none;
}

.subscribe__button:hover,
.subscribe__button:focus {
    padding: 14px 12px;

    color: @back-red;

    outline: none;
    background-color: white;
    border: 2px solid @back-red;
}
