// File for less-vars.
// For example: main colors, paddings and so on.

@white: white;
@grey: #2a333c;
@red: #c12127;
@back-red: #b50b1e;
@border-color: #dddddd;

@width-page: 1400px;
@width-content: 940px;
