// File for less-vars.
// For example: main colors, paddings and so on.

@white: white;
@grey: #2a333c;
@red: #c12127;
@back-red: #b50b1e;
@border-color: #dddddd;

@width-page: 1400px;
@width-page1280: 1280px;
@width-content: 940px;
@paddings: 230px;
@paddings1280: 170px;

//@media screen and (max-width: 1280px) {
//    .pd-page1280();
//}
