mixin header(data)
    header.header
        a.header__logo(href='#') soulvibes
        nav.header__main-navigation.main-navigation
            ul.header__navigation-list.navigation-list
                li.navigation-list__item
                    a.navigation-list__link(href='index.html') HOME
                li.navigation-list__item
                    a.navigation-list__link(href='#=genres') genres
                li.navigation-list__item
                    a.navigation-list__link(href='#events') event
                li.navigation-list__item
                    a.navigation-list__link(href='#news') news
                li.navigation-list__item
                    a.navigation-list__link(href='#contacts') contact

