mixin header(data)
    header.container
        a.header__logo(href='#') soulvibes
        nav.header__main-navigation.main-navigation
            ul.header__navigation-list.navigation-list
                li.navigation-list__item
                    a.navigation-list__link(href='#') HOME
                li.navigation-list__item
                    a.navigation-list__link(href='#') genres
                li.navigation-list__item
                    a.navigation-list__link(href='#') event
                li.navigation-list__item
                    a.navigation-list__link(href='#') news
                li.navigation-list__item
                    a.navigation-list__link(href='#') contact
